In [302]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import scipy
from scipy import stats
from statsmodels.api import add_constant
import statsmodels.api as sm
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [303]:
pisaTrain=pd.read_csv("pisa2009train.csv")
pisaTest=pd.read_csv("pisa2009test.csv")

In [304]:
pisaTrain.head()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,11,1,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,...,0.0,1.0,0.0,225.0,NaN,1.0,1,1,673.0,476.00
1,11,1,White,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
2,9,1,White,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,0.0,250.0,28.0,1.0,1,0,1233.0,554.81
3,10,0,Black,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
4,10,1,Hispanic,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89

In [305]:
pisaTest.head()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,10,0,White,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,240.0,30.0,1.0,1,0,808.0,355.24
1,10,1,White,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,255.0,NaN,1.0,1,0,808.0,385.57
2,10,0,White,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,NaN,30.0,1.0,1,0,808.0,522.62
3,10,0,White,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,160.0,30.0,NaN,1,0,808.0,406.24
4,10,0,White,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,240.0,30.0,1.0,1,0,808.0,453.50

In [306]:
#Q1

print("No of students in the training set :",pisaTrain.shape[0])

No of students in the training set : 3663

In [307]:
#Q2

result=pisaTrain.groupby('male')['readingScore'].mean()

print("Average reading test score of males is %.2f and Females is %.2f"%(result[1],result[0]))

Average reading test score of males is 483.53 and Females is 512.94

In [308]:
pisaTrain.isnull().sum()

grade                      0
male                       0
raceeth                   35
preschool                 56
expectBachelors           62
motherHS                  97
motherBachelors          397
motherWork                93
fatherHS                 245
fatherBachelors          569
fatherWork               233
selfBornUS                69
motherBornUS              71
fatherBornUS             113
englishAtHome             71
computerForSchoolwork     65
read30MinsADay            34
minutesPerWeekEnglish    186
studentsInEnglish        249
schoolHasLibrary         143
publicSchool               0
urban                      0
schoolSize               162
readingScore               0
dtype: int64

In [309]:
# Q3

s=[]
for i in pisaTrain.columns:
    if pisaTrain[i].isnull().sum()!=0:
        s.append(i)
        
print('variables have missing data in at least one observation in the training set: \n',s)

variables have missing data in at least one observation in the training set:
 ['raceeth', 'preschool', 'expectBachelors', 'motherHS', 'motherBachelors', 'motherWork', 'fatherHS', 'fatherBachelors', 'fatherWork', 'selfBornUS', 'motherBornUS', 'fatherBornUS', 'englishAtHome', 'computerForSchoolwork', 'read30MinsADay', 'minutesPerWeekEnglish', 'studentsInEnglish', 'schoolHasLibrary', 'schoolSize']

# 
raceeth                   
preschool                 
expectBachelors           
motherHS                  
motherBachelors          
motherWork                
fatherHS                 
fatherBachelors          
fatherWork               
selfBornUS               
motherBornUS              
fatherBornUS             
englishAtHome             
computerForSchoolwork     
read30MinsADay            
minutesPerWeekEnglish    
studentsInEnglish        
schoolHasLibrary
schoolSize

In [310]:
count=0
for i in pisaTrain.isnull().sum(axis=1):
    if i>0:
        count=count+1
print('Total number of rows with missing values is ', count)
#print('since it is only',round((count/len(pisaTrain.index))*100), 'percent of the entire dataset the rows with missing values are excluded.')

Total number of rows with missing values is  1249

In [311]:
pisaTrain.dropna(axis=0,inplace=True)

In [312]:
pisaTest.dropna(axis=0,inplace=True)

In [313]:
pisaTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2414 entries, 1 to 3662
Data columns (total 24 columns):
grade                    2414 non-null int64
male                     2414 non-null int64
raceeth                  2414 non-null object
preschool                2414 non-null float64
expectBachelors          2414 non-null float64
motherHS                 2414 non-null float64
motherBachelors          2414 non-null float64
motherWork               2414 non-null float64
fatherHS                 2414 non-null float64
fatherBachelors          2414 non-null float64
fatherWork               2414 non-null float64
selfBornUS               2414 non-null float64
motherBornUS             2414 non-null float64
fatherBornUS             2414 non-null float64
englishAtHome            2414 non-null float64
computerForSchoolwork    2414 non-null float64
read30MinsADay           2414 non-null float64
minutesPerWeekEnglish    2414 non-null float64
studentsInEnglish        2414 non-null float64
schoolHasLibrary         2414 non-null float64
publicSchool             2414 non-null int64
urban                    2414 non-null int64
schoolSize               2414 non-null float64
readingScore             2414 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 471.5+ KB

In [314]:
pisaTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990 entries, 0 to 1569
Data columns (total 24 columns):
grade                    990 non-null int64
male                     990 non-null int64
raceeth                  990 non-null object
preschool                990 non-null float64
expectBachelors          990 non-null float64
motherHS                 990 non-null float64
motherBachelors          990 non-null float64
motherWork               990 non-null float64
fatherHS                 990 non-null float64
fatherBachelors          990 non-null float64
fatherWork               990 non-null float64
selfBornUS               990 non-null float64
motherBornUS             990 non-null float64
fatherBornUS             990 non-null float64
englishAtHome            990 non-null float64
computerForSchoolwork    990 non-null float64
read30MinsADay           990 non-null float64
minutesPerWeekEnglish    990 non-null float64
studentsInEnglish        990 non-null float64
schoolHasLibrary         990 non-null float64
publicSchool             990 non-null int64
urban                    990 non-null int64
schoolSize               990 non-null float64
readingScore             990 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 193.4+ KB

In [315]:
#Q4
print('No of observations in the training set', pisaTrain.shape[0])
print('No of observations in the test set', pisaTest.shape[0])

No of observations in the training set 2414
No of observations in the test set 990

In [316]:
#Q5

# Answer:Raceeth is an unordered factor/categorical variable with at least 3 levels
pisaTrain.nunique()

grade                       5
male                        2
raceeth                     7
preschool                   2
expectBachelors             2
motherHS                    2
motherBachelors             2
motherWork                  2
fatherHS                    2
fatherBachelors             2
fatherWork                  2
selfBornUS                  2
motherBornUS                2
fatherBornUS                2
englishAtHome               2
computerForSchoolwork       2
read30MinsADay              2
minutesPerWeekEnglish     142
studentsInEnglish          51
schoolHasLibrary            2
publicSchool                2
urban                       2
schoolSize                148
readingScore             2021
dtype: int64

In [317]:
#Q5

pisaTrain.raceeth.unique()

array(['White', 'Black', 'Hispanic', 'More than one race',
       'American Indian/Alaska Native', 'Asian',
       'Native Hawaiian/Other Pacific Islander'], dtype=object)

In [318]:
newTrain=pd.get_dummies(pisaTrain,drop_first=True)

In [319]:
newTrain.head()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,publicSchool,urban,schoolSize,readingScore,raceeth_Asian,raceeth_Black,raceeth_Hispanic,raceeth_More than one race,raceeth_Native Hawaiian/Other Pacific Islander,raceeth_White
1,11,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1,0,1173.0,575.01,0,0,0,0,0,1
3,10,0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1,1,2640.0,458.11,0,1,0,0,0,0
4,10,1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1,1,1095.0,613.89,0,0,1,0,0,0
7,10,0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1,0,1913.0,439.36,0,0,0,0,0,1
9,10,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1,0,899.0,465.90,0,0,0,1,0,0

In [320]:
#Q6
# Answer:
# American Indian/Alaska Native, Asian, Black, Hispanic, More than one race, Native Hawaiian/Other Pacific Islander

In [321]:
#Q7

# American Indian/Alaska Native, Asian, Black, Hispanic, More than one race, Native Hawaiian/Other Pacific Islander would be set to 0
# and Asian would be Set to 1

In [322]:
#Q8

# American Indian/Alaska Native, Asian, Black, Hispanic, More than one race, , Native Hawaiian/Other Pacific Islander would be set to 0

In [323]:
#data=pisaTrain

In [324]:
#del(data['raceeth'])

In [325]:
#data.head()

In [326]:
#data=pd.concat([data,newTrain],axis=1)

In [327]:
#data.head()

In [328]:
x=newTrain.drop(columns='readingScore')
y=newTrain['readingScore']

In [329]:
x.head()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,schoolHasLibrary,publicSchool,urban,schoolSize,raceeth_Asian,raceeth_Black,raceeth_Hispanic,raceeth_More than one race,raceeth_Native Hawaiian/Other Pacific Islander,raceeth_White
1,11,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1,0,1173.0,0,0,0,0,0,1
3,10,0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1,1,2640.0,0,1,0,0,0,0
4,10,1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,1,1,1095.0,0,0,1,0,0,0
7,10,0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,1,0,1913.0,0,0,0,0,0,1
9,10,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1,0,899.0,0,0,0,1,0,0

In [330]:
x.columns

Index(['grade', 'male', 'preschool', 'expectBachelors', 'motherHS',
       'motherBachelors', 'motherWork', 'fatherHS', 'fatherBachelors',
       'fatherWork', 'selfBornUS', 'motherBornUS', 'fatherBornUS',
       'englishAtHome', 'computerForSchoolwork', 'read30MinsADay',
       'minutesPerWeekEnglish', 'studentsInEnglish', 'schoolHasLibrary',
       'publicSchool', 'urban', 'schoolSize', 'raceeth_Asian', 'raceeth_Black',
       'raceeth_Hispanic', 'raceeth_More than one race',
       'raceeth_Native Hawaiian/Other Pacific Islander', 'raceeth_White'],
      dtype='object')

In [331]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)
lmScore=LinearRegression()
lmScore.fit(x_train,y_train)
print(lmScore.intercept_)
print(lmScore.coef_)

64.79890095788784
[ 2.98895001e+01 -1.36077419e+01 -5.81515910e+00  5.58551464e+01
  4.08970365e+00  1.56016279e+01 -7.73821084e+00  1.10187705e+01
  1.71366130e+01  6.22825137e+00 -1.63594733e+01 -1.61498825e+00
  2.13946267e+00  1.15425873e+01  2.18090684e+01  3.35167672e+01
  1.44967501e-02 -1.54861008e-01  9.14680469e+00 -1.33910065e+01
 -2.73383793e+00  4.71623733e-03  7.21663071e+01  1.15470458e+01
  4.45713738e+01  5.70475644e+01  9.01103724e+01  7.49478959e+01]

In [332]:
#readingScore = 64.79 + 2.98895001e+01*grade -1.36077419e+01*male  -5.81515910e+00*preschool + 5.58551464e+01*expectBachelors + 4.08970365e+00*motherHS  
# + 1.56016279e+01*motherBachelors -7.73821084e+00*motherWork + 1.10187705e+01*fatherHS + 1.71366130e+01*fatherBachelors + 6.22825137e+00*fatherWork -1.63594733e+01*selfBornUS -1.61498825e+00*motherBornUS
# + 2.13946267e+00*fatherBornUS + 1.15425873e+01*englishAtHome + 2.18090684e+01*computerForSchoolwork + 3.35167672e+01*read30MinsADay + 1.44967501e-02*minutesPerWeekEnglish - 1.54861008e-01*studentsInEnglish + 9.14680469e+00*schoolHasLibrary 
# - 1.33910065e+01*publicSchool -2.73383793e+00*urban + 4.71623733e-03*schoolSize + 7.21663071e+01*raceeth_Asian + 1.15470458e+01*raceeth_Black + 4.45713738e+01*raceeth_Hispanic + 5.70475644e+01*raceeth_More than one race + 9.01103724e+01*raceeth_Native Hawaiian/Other Pacific Islander  
# + 7.49478959e+01*raceeth_White

In [333]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0) 
lmScore=LinearRegression()
lmScore.fit(x_train,y_train)
print(lmScore.intercept_)
print(lmScore.coef_)

96.91667031739217
[ 2.77893621e+01 -1.54168487e+01 -5.41247369e+00  5.25342796e+01
  7.51562772e+00  1.46929019e+01  6.72839503e-01  5.39179526e-01
  1.97593635e+01  6.85322082e+00  6.28616273e-01 -8.92077397e+00
 -3.38699362e-01  8.31551855e+00  2.36103080e+01  3.52666679e+01
  1.52545814e-02 -2.46565547e-01  6.52848264e+00 -9.69523639e+00
 -1.03982175e+00  4.39014275e-03  6.21126943e+01 -9.05640623e+00
  2.74086275e+01  4.10856477e+01  6.62592851e+01  6.32823126e+01]

In [334]:
ypredict=lmScore.predict(x_test)

In [335]:
#Q9
print('R-squared value of lmScore on the training set %.3f'%r2_score(y_test,ypredict))

R-squared value of lmScore on the training set 0.307

In [336]:
from statsmodels.api import add_constant
X2 = add_constant(x_train)
lmScore= sm.OLS(y_train,X2)
lmScore=lmScore.fit()
#lmScore.pvalues

In [337]:
lmScore.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           readingScore   R-squared:                       0.329
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     29.05
Date:                Thu, 17 Jan 2019   Prob (F-statistic):          1.54e-122
Time:                        13:04:44   Log-Likelihood:                -9650.9
No. Observations:                1689   AIC:                         1.936e+04
Df Residuals:                    1660   BIC:                         1.952e+04
Df Model:                          28
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
const                                             96.9167     45.228      2.143      0.032       8.207     185.626
grade                                             27.7894      3.567      7.792      0.000      20.794      34.785
male                                             -15.4168      3.798     -4.059      0.000     -22.866      -7.967
preschool                                         -5.4125      4.198     -1.289      0.197     -13.646       2.821
expectBachelors                                   52.5343      5.151     10.199      0.000      42.431      62.637
motherHS                                           7.5156      7.185      1.046      0.296      -6.577      21.608
motherBachelors                                   14.6929      4.623      3.178      0.002       5.625      23.760
motherWork                                         0.6728      4.238      0.159      0.874      -7.640       8.986
fatherHS                                           0.5392      6.677      0.081      0.936     -12.558      13.636
fatherBachelors                                   19.7594      4.800      4.117      0.000      10.345      29.174
fatherWork                                         6.8532      5.189      1.321      0.187      -3.325      17.031
selfBornUS                                         0.6286      8.855      0.071      0.943     -16.740      17.998
motherBornUS                                      -8.9208      8.100     -1.101      0.271     -24.807       6.966
fatherBornUS                                      -0.3387      7.728     -0.044      0.965     -15.496      14.819
englishAtHome                                      8.3155      8.271      1.005      0.315      -7.907      24.538
computerForSchoolwork                             23.6103      6.886      3.429      0.001      10.104      37.117
read30MinsADay                                    35.2667      4.079      8.646      0.000      27.266      43.267
minutesPerWeekEnglish                              0.0153      0.013      1.194      0.233      -0.010       0.040
studentsInEnglish                                 -0.2466      0.272     -0.905      0.365      -0.781       0.288
schoolHasLibrary                                   6.5285     11.560      0.565      0.572     -16.145      29.202
publicSchool                                      -9.6952      8.024     -1.208      0.227     -25.434       6.043
urban                                             -1.0398      4.773     -0.218      0.828     -10.402       8.322
schoolSize                                         0.0044      0.003      1.641      0.101      -0.001       0.010
raceeth_Asian                                     62.1127     23.456      2.648      0.008      16.106     108.120
raceeth_Black                                     -9.0564     21.584     -0.420      0.675     -51.392      33.279
raceeth_Hispanic                                  27.4086     21.459      1.277      0.202     -14.680      69.497
raceeth_More than one race                        41.0856     23.128      1.776      0.076      -4.277      86.448
raceeth_Native Hawaiian/Other Pacific Islander    66.2593     28.916      2.291      0.022       9.543     122.976
raceeth_White                                     63.2823     20.940      3.022      0.003      22.211     104.353
==============================================================================
Omnibus:                        4.691   Durbin-Watson:                   1.936
Prob(Omnibus):                  0.096   Jarque-Bera (JB):                4.758
Skew:                          -0.124   Prob(JB):                       0.0927
Kurtosis:                       2.920   Cond. No.                     5.23e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [338]:
#Q10
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, ypredict))
print("RMSE:%.2f",rmse)

RMSE:%.2f 73.95520819779047

In [339]:
#Q11 - 
# Consider two students A and B. They have all variable values the same, except that student A is in grade 11 and student B is in grade 9. 
# What is the predicted reading score of student A minus the predicted reading score of student B?
A= 64.79 + 2.98895001e+01*11 -1.36077419e+01*1  -5.81515910e+00*1 + 5.58551464e+01*1 + 4.08970365e+00*1  + 1.56016279e+01*1 -7.73821084e+00*1 + 1.10187705e+01*1 + 1.71366130e+01*1 + 6.22825137e+00*1 -1.63594733e+01*1 -1.61498825e+00*1 + 2.13946267e+00*1 + 1.15425873e+01*1 + 2.18090684e+01*1 + 3.35167672e+01*1 + 1.44967501e-02*1 - 1.54861008e-01*1 + 9.14680469e+00*1 - 1.33910065e+01*1 -2.73383793e+00*1 + 4.71623733e-03*1 + 7.21663071e+01*1+ 1.15470458e+01*1 + 4.45713738e+01*1 + 5.70475644e+01*1 + 9.01103724e+01*1   + 7.49478959e+01*1
B= 64.79 + 2.98895001e+01*9 -1.36077419e+01*1  -5.81515910e+00*1 + 5.58551464e+01*1 + 4.08970365e+00*1  + 1.56016279e+01*1 -7.73821084e+00*1 + 1.10187705e+01*1 + 1.71366130e+01*1 + 6.22825137e+00*1 -1.63594733e+01*1 -1.61498825e+00*1 + 2.13946267e+00*1 + 1.15425873e+01*1 + 2.18090684e+01*1 + 3.35167672e+01*1 + 1.44967501e-02*1 - 1.54861008e-01*1 + 9.14680469e+00*1 - 1.33910065e+01*1 -2.73383793e+00*1 + 4.71623733e-03*1 + 7.21663071e+01*1+ 1.15470458e+01*1 + 4.45713738e+01*1 + 5.70475644e+01*1 + 9.01103724e+01*1   + 7.49478959e+01*1
print('Predicted reading score of student A minus the predicted reading score of student B',round(A-B,2))

Predicted reading score of student A minus the predicted reading score of student B 59.78

In [340]:
#Q12 - What is the meaning of the coefficient associated with variable raceethAsian?
# Answer:
# Predicted Reading Score will increase by 7.21663071e+01 units when the student is from  Asian race

In [341]:
#Q13
# preschool, motherHS, motherWork, fatherHS, selfBornUS, motherBornUS, fatherBornUS, englishAtHome
# minutesPerWeekEnglish, studentsInEnglish, schoolHasLibrary, publicSchool, urban, schoolSize

In [342]:
newTest=pd.get_dummies(pisaTest,drop_first=True)

In [343]:
newTest.head()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,publicSchool,urban,schoolSize,readingScore,raceeth_Asian,raceeth_Black,raceeth_Hispanic,raceeth_More than one race,raceeth_Native Hawaiian/Other Pacific Islander,raceeth_White
0,10,0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1,0,808.0,355.24,0,0,0,0,0,1
4,10,0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,1,0,808.0,453.50,0,0,0,0,0,1
6,10,0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,0,808.0,405.13,0,0,0,0,0,0
7,10,0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,1,0,808.0,665.05,0,0,0,0,0,1
8,11,0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1,0,808.0,604.84,0,0,0,0,0,1

In [344]:
x_train=newTrain.drop(columns='readingScore')
x_test=newTest.drop(columns='readingScore')
y_train=newTrain['readingScore']
y_test=newTest['readingScore']

In [345]:
lmScore=LinearRegression()
lmScore.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [346]:

predTest=lmScore.predict(x_test)

In [347]:
r2_score(y_test,predTest)

0.26115545096875836

In [348]:
#Q14

print('Range between the maximum and minimum predicted reading score on the test set',round(max(predTest)-min(predTest),2))

Range between the maximum and minimum predicted reading score on the test set 284.47

In [349]:
#Q15
sse=sum((y_test-predTest)**2)
print("SSE:",int(sse))


rmse = sqrt(mean_squared_error(y_test, predTest))
print("RMSE:",round(rmse,2))

SSE: 5762082
RMSE: 76.29

In [350]:
#Q16 - What is the predicted test score used in the baseline model? Remember to compute this value using the training set and not the test set.
# The predicted test score used in the baseline model is the Mean of the readingScore
print('predicted test score used in the baseline model',round(pisaTrain.readingScore.mean(),2))

predicted test score used in the baseline model 517.96

In [354]:
#Q17
sst=np.sum((pisaTest.readingScore-pisaTest.readingScore.mean())**2)  # Baseline Model
print('sum of squared errors of the baseline model on the testing set',round(sst))

sum of squared errors of the baseline model on the testing set 7798775.0

In [355]:
#Q18 - What is the test-set R-squared value of lmScore?
print('R-squared value of lmScore on the test set %.3f'%r2_score(y_test,predTest))

R-squared value of lmScore on the test set 0.261